@charset "ISO-8859-1";

body {
	background-color: #11b189;
	font-family: "Kanit", sans-serif;
}

.title {
	display: flex;
	justify-content: center;
	color: white;

}

h1 {
	font-family: "Kanit", sans-serif;
	font-size: 60px;
	margin-bottom: 2%;
}

.area-login {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
	margin-top: 4%;
	border-radius: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #00564D;
	width: 60%;
	padding: 35px;
}

.login form {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.login input {
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 2%;
	font-size: 17px;
	color: #4E4E4E;
	border: none;
	height: 50px;
	outline: none;
	border-radius: 55px;
}

.btn {
	font-weight: bold;
	cursor: pointer;
	margin-top: 9px;
	height: 30px;
	width: 80px;
	background-color: #0AA67F;
	border-radius: 10px;
}

label {
	margin-top: 2%;
	margin-left: 3%;
	font-size: 17px;
}

.cidade {
	flex-direction: row;
}

a {
	text-decoration: none;
}

.texto {
	font-size: 40px;
	margin-bottom: 4%;

}