
.instituticao {
	background-color:  #00564D;
    color: white;
    text-align: right;
    padding: 10px;
    height: 10vh;
 }
.divtb{
	background-color:  #00564D;
	margin-left: 5%;
	margin-top: 5%;
	height: 100%;
	border-radius: 45px 45px 0px 0px;
 	box-shadow: 0px 6px rgb(127, 127, 127);

}
.title{
	font-size: 50px;
	padding-top:5%;
	padding-left: 40%;
	color: white;
}
table{
	margin-top: 5%;
	padding-left: 6%;
	font-size: 23px;
}

tr{
	padding-left: 20px;
	padding-top: 6px;
	height: 7vh;
	width: 175vh;
	background-color: white;
	border: none;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	text-align: center;
	border-radius: 30px;
	margin-bottom: 5%;
}
td{
	margin-bottom: 10%;
	border-radius: 20px;
	width: 50%;
	height: 90%;
}
.tdeditar{
	background-color: #11B189;
	width: 10%;
}
.tdexcluir{
	background-color: red;
	width: 10%;

}
a{
	text-decoration: none;
	color: white;

}
.acoes{
	color: blue;

}