* {
    font-family: "Kanit", sans-serif;
}

body {
    overflow-x: hidden;
}

.instituticao {
    background-color: #00564D;
    color: white;
    text-align: right;
    padding: 10px;
    height: 10vh;
}

.divtb {
    background-color: #00564D;
    margin-left: 4.3%;
    margin-top: 5%;
    height: 100%;
    border-radius: 45px 45px 0px 0px;
    box-shadow: 0px 6px rgb(127, 127, 127);

}

.title {
	
    font-size: clamp(4em, 5em + 1vw, 1em);
    padding-top: 5%;
    text-align: center;
    color: white;
	font-weight: 500;
}

table {
    padding: 6%;
    font-size: 20px;
}


tr {
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

td {
    background-color: white;
    width: 160vh;
    margin-right: 10%;
    height: 6vh;
    border-radius: 60px;
}

.tdverificar {
    position: absolute;
    background-color: #11B189;
    width: 10%;
    height: 3.5vh;
    border-radius: 19px;
    border: none;
    left: 66%;
    color: white;

}

.tdeditar {
    position: absolute;
    background-color: #11B189;
    width: 10%;
    height: 3.5vh;
    border-radius: 19px;
    border: none;
    left: 55%;
    color: white;

}

.tdexcluir {
    position: absolute;
    background-color: red;
    width: 10%;
    height: 3.5vh;
    border-radius: 19px;
    border: none;
    left: 77%;
    color: white;
}

#-list {
    color: #4e4e4e;
}

.-item {
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 2%;

}