.instituticao {
	color: aliceblue;
	text-align: end;
	background-color: #00564D;
	width: 100%;
	height: 7%;
}

body {
	overflow-y: hidden;
	margin: 0;
}

section {

	margin-top: 1%;
	margin-bottom: 2%;
	margin-left: 2%;
	display: flex;
	height: 100vh;
	justify-content: space-between;
	flex-direction: row;
}




.cards {

	margin-top: 10%;
	border: none;
	background-color: #e8e8e8;
	border-radius: 45px;
	width: 30vh;
	height: 25vh;
	padding: 10%;
	box-shadow: 0px 6px rgb(194, 194, 194);
	cursor: pointer;

}

.allCards {

	margin-left: 6.5%;
	display: flex;
	flex-direction: row;


}

.testebtn {
	color: white;
}

.column {
	display: flex;
	flex-direction: column;
	margin-right: 4%;
}

.teste {

	margin-right: 10%;
	display: flex;
	flex-direction: column;
}

.view,
.view2 {
	cursor: pointer;
	border: none;
	border-radius: 45px;
	width: 57.34265734265734vh;
	height: 39.44055944055944vh;
	padding: 4.295104895104895vh;
	box-shadow: 0px 6px rgb(127, 127, 127);

}

.view {
	color: white;
	margin-top: 5.8%;
	background-color: #11b189;
}

.view2 {
	margin-top: 9%;
	background-color: #00564D;
}

.txt1 {
	font-size: 19px;
}


.card {
	margin-bottom: 4%;
}

.buttom {
	color: white;
	cursor: pointer;
	margin-left: 6%;
	margin-right: 2%;
	margin-top: 1.5%;

	background-color: #e8e8e8;
	border: none;

	border-radius: 45px;
	width: 30vh;
	/* mesma largura dos outros cards */
	height: 83.5vh;
	/* altura equivalente a 3 cards */
	padding: 35px;
	box-shadow: 0px 6px rgb(194, 194, 194);

}

a {
	color: #3d3d3d;
	text-decoration: none;
	font-size: 110%;
}

a .icon>i {
	margin-top: 5.5%;
	font-size: 25px;
	margin-left: 10px;
}

/*tablet*/
@media screen and (min-device-width: 685px) and (max-device-width: 1023px) {

	body {
		overflow-y: visible;
		margin-right: -10%;
		margin-left: -10%;
	}

	section {
		margin-top: 15%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.allCards {

		flex-direction: row;
		margin-right: 0px;
		margin-left: 6.5%;
	}

	.cards {

		width: 27vh;
		height: 23vh;

	}

	.buttom {

		color: white;
		cursor: pointer;
		margin-left: 6%;
		margin-top: 1.5%;
		margin-right: -5.5%;

		background-color: #e8e8e8;
		border: none;

		border-radius: 45px;
		width: 90vh;
		/* mesma largura dos outros cards */
		height: 83.5vh;
		/* altura equivalente a 3 cards */
		box-shadow: 0px 6px rgb(194, 194, 194);

	}

	.view,
	.view2 {
		cursor: pointer;
		border: none;
		border-radius: 45px;
		width: 40vh;
		height: 30vh;
		padding: 4.295104895104895vh;
		box-shadow: 0px 6px rgb(127, 127, 127);
	}

	.teste {
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: row;
		margin-right: 0px;
		margin-left: 11.5%;

	}

	.view {
		margin-right: 5%;
	}

	.view2 {
		margin-top: 5.8%;
		background-color: #00564D;
	}

}

@media screen and (max-device-width: 684px) {
	body {
		overflow-y: visible;
		margin-right: -50%;
		margin-left: -7%;
	}

	section {
		margin-top: 15%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.allCards {
	
		flex-direction: row;
		margin-right: 2%;
		margin-left: 6.5%;
	}

	.cards {
		font-size: 80%;
		width: 29vh;
		height: 23vh;

	}
	
	.buttom {

		color: white;
		cursor: pointer;
		margin-left: 6%;
		margin-top: 1.5%;
		margin-right: -5.5%;

		background-color: #e8e8e8;
		border: none;

		border-radius: 45px;
		width: 90vh;
		/* mesma largura dos outros cards */
		height: 83.5vh;
		/* altura equivalente a 3 cards */
		box-shadow: 0px 6px rgb(194, 194, 194);

	}

	.view,
	.view2 {
		cursor: pointer;
		border: none;
		border-radius: 45px;
		width: 40vh;
		height: 30vh;
		padding: 4.295104895104895vh;
		box-shadow: 0px 6px rgb(127, 127, 127);
	}

	.teste {
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		flex-direction: row;
		margin-right: 0px;
		margin-left: 11.5%;

	}

	.view {
		margin-right: 5%;
	}

	.view2 {
		margin-top: 5.8%;
		background-color: #00564D;
	}
	.testebtn, .txt1{

		font-size: 260%;
		font-weight: 300;
	}
	.buttom, .txt1 {
		font-size: 90%;
	}
		
	a {
		font-size: 3vh;
	}
	a .icon > i {
		font-size: 130%;
	}
}


