
body{
	color: white;
	margin: 0 auto;
}

header{
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	margin-left: 20%;
}


a:hover{
	color: black;
	transition: .3s;
}

li{
	display: inline;
    padding: 2%;
    text-decoration: none;
	color: white;
	font-size: 18px;
}
