* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;

}

body {
    height: 100vh;
}
button{

    background-color: #11b18900;
    border: none;
}

.sidebar {
    width: 0;
    height: -100%;
    background-color: #4e4e4e;
    overflow-x: hidden;
    transition:  0.5;
    position: fixed;
    z-index: 1;
    }
    
    .show-sidebar{
    width: 250px;
    }
    main{
        color: black;
    }

nav.menu-lateral {
    width: 5%;
    height: 100%;
    background-color: #11b189;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .45s;
    border-top-right-radius: 10px;

}

nav.menu-lateral:hover {
    width: 17%;
    overflow: hidden;
    border-top-right-radius: 10px;

}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir>i {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;

}

ul li.item-menu {
    margin-top:5%;
    transition: .35s;
}

.item-menu {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

ul li.item-menu:hover {
    background-color: rgb(140, 228, 9);
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 25px;
    margin-left: 5%;

}

ul li.item-menu a .txt-link {
    margin-left: 25px;
}

ul li.item-menu a .icon>i {
    font-size: 25px;
    margin-left: 10px;
}

.home {
    overflow: hidden;
}
@media screen and (min-device-width: 685px) and (max-device-width: 1023px) {
    nav.menu-lateral {
        width: 7%;
        height: 100%;
        background-color: #11b189;
        padding: 40px 0 40px 1%;
        overflow: hidden;
        transition: .45s;
        border-top-right-radius: 10px;
    
    }
    nav.menu-lateral:hover {
        width: 18%;
        overflow: hidden;
        box-shadow: 21px 0px 6px -9px rgba(0,0,0,0.1);
    }
    
    .btn-expandir {
        width: 100%;
        padding-left: 10px;
    }

    ul li.item-menu {
       align-items: center;
    }
    
    ul li.item-menu a .icon>i {
        font-size: 30px;
        margin-left: 10px;
    }
    .btn-expandir>i {
        font-size: 45px;
    }
}
@media screen and (max-device-width: 684px) and (min-device-width: 361) {
    nav.menu-lateral {
        width: 7%;
        height: 100%;
        background-color: #11b189;
        transition: .45s;
        border-top-right-radius: 10px;

    
    }
    nav.menu-lateral:hover {
        width: 23%;
        box-shadow: 21px 0px 6px -9px rgba(0,0,0,0.1);
    }


    ul li.item-menu {
        padding: 10%;
        padding-left: 0;
    }
    ul li.item-menu a{
        font-size: 35px;
        margin-left: 10px;
    }
    ul li.item-menu a .icon>i {
        font-size: 45px;
        margin-left: 10px;
    }
    .btn-expandir>i {
        font-size: 45px;
    }
}
@media screen and (max-device-width: 360px) {
    .menu-lateral{
        display: none;
    }
}