
body{
    background-color:#11b189 ;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
.title{
	margin-top: 5%;
	display: flex;
	justify-content: center;
	color: white;
	
}
h1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 60px;
	margin-bottom: 2%;
}
.area-login{
	margin-top: -5%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login{
   margin-top: 4%;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00564D;
    width: 50%;
    height: 50%;
    padding: 35px;
    margin-bottom: 15%;
}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.login input{
    margin-top: 10px;
    padding-left: 10px;

    border: none;
    height: 45px;
    outline: none;
    border-radius: 55px;
}
input::placeholder{
    font-size: 14px;
}

.btn{
    font-weight: bold;
	cursor: pointer;
	margin-top: 9px;
	height: 30px;
	width: 80px;
	background-color: #11b189;
	border-radius: 10px;
}
.n-btn{
	display: flex;
	justify-content: space-between;
}
p{
    color: aliceblue;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.texto{
    color: aliceblue;
    font-size: 45px;
    margin-bottom: 30px;
}